.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .input {
    border: none;
    border-radius: 50px;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    height: 20px;

  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #677ac4;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }